@import url("https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap");
@font-face {
  font-family: "Super Mario 256 Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Super Mario 256 Regular"),
    url("SuperMario256.woff") format("woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Super Mario 256 Regular", cursive;
  color: black;
}

body {
  background: url("../img/background-home.gif");
  background-size: contain;
  height: 100vh;
  width: 100vw;
}

.flex {
  display: flex;
}

#all {
  /* background: url(../img/background-home.gif);
  background-size: contain; */
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

#container {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;

  /* animation: color-change-4x 6s linear infinite alternate both */
}

#collect {
  background-image: url("../img/collect-em-to-play.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 5vw;
  -webkit-animation: fade-in 1s cubic-bezier(0.39, 0.575, 0.565, 1) infinite
    alternate both;
  animation: fade-in 1s cubic-bezier(0.39, 0.575, 0.565, 1) infinite alternate
    both;
}

#title {
  background-image: url("../img/home-title.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 70%;
  width: 100%;
  margin-bottom: 5vh;
  animation: pulsate-bck 1s ease-in-out infinite both;
}

#coins,
.coin {
  height: 50px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
}

.coin {
  background: url("../img/classic-coin-6-50-300.png");
  background-position: bottom;
  width: calc(300px / 6);
  animation: animate6 1s steps(6) infinite;
}

.scale-out {
  animation: scale-out-center 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@keyframes scale-out-center {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 1;
  }
}

@keyframes animate6 {
  from {
    background-position: 0;
  }
  to {
    background-position: calc(50px * 6);
  }
}

@keyframes pulsate-bck {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*-----------------page2-------------------------------------------------------------------------------------------*/
h1 {
  margin-top: 20px;
  font-size: 3em;
  opacity: 1;
}

h2:not(.long) {
  margin-top: 20px;
  font-size: 2.5em;
  opacity: 1;
}

#title2 {
  font-size: 5em;
  height: 15vh;
  width: 100vw;
  text-align: center;
  background: no-repeat url("../img/AreYouReady.png");
  background-size: auto;
  background-position-x: center;
  animation: pulsate-bck 1s ease-in-out infinite both;
}

#container2 {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(7, auto);
  grid-gap: 1vw;
  height: 65vh;
  width: 100%;
}

#container3 {
  display: grid;
  justify-content: center;
  align-items: flex-end;
  margin: 2vw;
  grid-template-columns: repeat(3, auto);
  grid-gap: 1vw;
}

.people {
  opacity: 0.7;
  cursor: none;
  display: grid;
  justify-items: center;
  height: 60vh;
  width: 20vw;
  font-size: 1em;
  border-radius: 20px;
  line-height: 2em;
  border: 1px solid #aaa;

  -webkit-transition: all 0.3s linear;
  -khtml-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

#container3 .people:hover {
  transform: scale(1.2);
  opacity: 1;
}

.green {
  background: -webkit-linear-gradient(top, #56b870 0%, #a5c956 100%);
}

.darkred {
  background: -webkit-linear-gradient(
    left,
    rgba(169, 3, 41, 1) 0%,
    rgba(143, 2, 34, 1) 44%,
    rgba(109, 0, 25, 1) 100%
  );
}

.blue {
  background: #7abcff;
  /* Old browsers */
  background: -moz-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%);
  /* FF3.6+ */
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #7abcff),
    color-stop(44%, #60abf8),
    color-stop(100%, #4096ee)
  );
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(
    top,
    #7abcff 0%,
    #60abf8 44%,
    #4096ee 100%
  );
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%);
  /* IE10+ */
  background: linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%);
  /* W3C */
}

#musicbox {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: calc(250px / 5);
  height: 50px;
}

.musicplay {
  background: url("../img/music-5-250-50.png");
  animation: animate5 1s steps(5) infinite;
}

.musicpause {
  background: url("../img/music-5-250-50.png");
  animation: animate5 5s steps(5) infinite;
}

#tube {
  background: url("../img/tube-5-1000-48.png");
  animation: animatetube 1.5s steps(5) alternate-reverse infinite;
  width: calc(1000px / 5);
  height: 48px;
  position: fixed;
  bottom: 20px;
  left: 0px;
}

.scale-up-bl {
  -webkit-animation: scale-up-bl 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: scale-up-bl 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@keyframes animate5 {
  from {
    background-position: 0;
  }
  to {
    background-position: 250px;
  }
}

@keyframes animatetube {
  from {
    background-position: 1000px;
  }
  to {
    background-position: 0;
  }
}

@keyframes scale-up-bl {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
  }
  50% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
  }
}

.people p {
  font-size: 20px;
  margin: 0 20px;
  text-align: center;
  color: aliceblue;
}

.titre-score {
  background-image: url("../img/score.png");
  background-repeat: no-repeat;
  animation: pulsate-bck 1s ease-in-out infinite both;
}
.long {
  margin-top: 20px;
  font-size: 2.5em;
  height: 0;
  opacity: 1;
}
.walking-bomb {
  background: url("../img/bomb-8-994-100.png");
  width: calc(994px / 8);
  height: 100px;
  animation: animatebomb 1s steps(8) infinite;
}
.falling-bomb {
  background: url("../img/falling-bomb-6-837-171.png");
  width: calc(837px / 6);
  height: 171px;
  animation: falling-bomb 1s steps(6) infinite;
  transform: scale(1);
}
.falling-bomb-explose {
  background: url("../img/bomb-floor-6-837-131.png");
}
.flying-koopa {
  background: url("../img/koopa-fly-red-9-100-800.png");
  width: calc(765px / 9);
  height: 100px;
  animation: flying-koopa 1s steps(9) infinite;
}
.walking-koopa {
  background: url("../img/koopa-walk-red-6-100-510.png");
  width: calc(510px / 6);
  height: 100px;
  animation: walking-koopa 1s steps(6) infinite;
}
.cloud {
  background: url("../img/nuage-8-100-526.png");
  width: calc(526px / 8);
  height: 100px;
  animation: cloud8 2s steps(8) reverse infinite;
  transform: scale(1.5);
}
.flying-bee {
  background: url("../img/bee-4-100-427.png");
  width: calc(427px / 4);
  height: 100px;
  animation: bee4 0.5s steps(4) infinite;
}
.coin-image {
  background: url("../img/classic-coin-6-50-300.png");
  width: calc(300px / 6);
  animation: animate6 1s steps(6) infinite;
  width: 50px;
  height: 50px;
}

.speed-fast {
  background: url("../img/001-fast.png");
  background-size: contain;
  height: 70px;
  width: 70px;
}

.speed-medium {
  background: url("../img/003-medium.png");
  background-size: contain;
  height: 70px;
  width: 70px;
}

.speed-slow {
  background: url("../img/002-slow.png");
  background-size: contain;
  height: 70px;
  width: 70px;
  text-align: center;
}

@keyframes falling-bomb {
  from {
    background-position: 0;
  }
  to {
    background-position: 837px;
  }
}

@keyframes walking-koopa {
  from {
    background-position: 0;
  }
  to {
    background-position: 510px;
  }
}

@keyframes flying-koopa {
  from {
    background-position: 0;
  }
  to {
    background-position: 765px;
  }
}

@keyframes bee4 {
  from {
    background-position: 0;
  }
  to {
    background-position: 427px;
  }
}

@keyframes animatebomb {
  from {
    background-position: 994px;
  }
  to {
    background-position: 0;
  }
}
@keyframes cloud8 {
  from {
    background-position: 0;
  }
  to {
    background-position: 526px;
  }
}
