@font-face {
  font-family: "Super Mario 256 Regular";
  font-style: normal;
  font-weight: normal;
  /* src: local("Super Mario 256 Regular"),
      url("SuperMario256.woff") format("woff"); */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Super Mario 256 Regular", cursive;
  cursor: crosshair;
}

#score-all {
  background-image: url("../img/background-home.gif");
  background-size: contain;
  width: 100vw;
  height: 100vh;
}

#score-all section {
  /* border: black 1px solid; */
  border-radius: 10px;
  height: 60vh;
  margin: 2vh 2vw;
  padding: 1vw;
}

#worst-ennemi {
  flex-direction: column;
  display: flex;
  width: 26vw;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  background: linear-gradient(
    0deg,
    rgba(245, 255, 0, 0.04525560224089631) 0%,
    rgba(242, 251, 21, 1) 100%
  );
}

#score-right {
  background: linear-gradient(
    0deg,
    rgba(245, 255, 0, 0.04525560224089631) 0%,
    rgba(242, 251, 21, 1) 100%
  );
  width: 60vw;
  font-size: 3em;
}

#total {
  font-size: 2em;
  text-align: center;
  margin-top: 3vh;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 20px;
}

p {
  font-size: 2.5em;
}

#score-titre {
  background-image: url("../img/score.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 15vh;
  width: 30%;
  margin-top: 3vh;
  justify-content: center;
}

.flex {
  display: flex;
}

.center {
  align-items: center;
  justify-content: center;
}

.column {
  flex-direction: column;
}

.flying-koopa {
  background: url("../img/koopa-fly-red-9-100-800.png");
  width: calc(765px / 9);
  height: 100px;
  animation: flying-koopa 1s steps(9) infinite;
}
.walking-koopa {
  background: url("../img/koopa-walk-red-6-100-510.png");
  width: calc(510px / 6);
  height: 100px;
  animation: walking-koopa 1s steps(6) infinite;
}
.cloud {
  background: url("../img/nuage-8-100-526.png");
  width: calc(526px / 8);
  height: 100px;
  animation: cloud8 2s steps(8) reverse infinite;
  transform: scale(1.5);
}
.flying-bee {
  background: url("../img/bee-4-100-427.png");
  width: calc(427px / 4);
  height: 100px;
  animation: bee4 0.5s steps(4) infinite;
}

.walking-bomb {
  background: url("../img/bomb-8-994-100.png");
  width: calc(994px / 8);
  height: 100px;
  animation: animatebomb 1s steps(8) infinite;
}

@keyframes walking-koopa {
  from {
    background-position: 0;
  }
  to {
    background-position: 510px;
  }
}

@keyframes flying-koopa {
  from {
    background-position: 0;
  }
  to {
    background-position: 765px;
  }
}

@keyframes bee4 {
  from {
    background-position: 0;
  }
  to {
    background-position: 427px;
  }
}

@keyframes animatebomb {
  from {
    background-position: 994px;
  }
  to {
    background-position: 0;
  }
}
@keyframes cloud8 {
  from {
    background-position: 0;
  }
  to {
    background-position: 526px;
  }
}

@-webkit-keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
