<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="../css/explain.css" />
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="module" src="../js/home.js"></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Select mode</title>
  </head>
  <body>
    <section id="all">
      <div id="title2"></div>
      <div id="container2" class="grid ">
        <div class="people green">
          <h2>coin</h2>
          <div class="coin-image"></div>
          <p class="advise">
            The only think you care about !!! <br />
            cash
          </p>
        </div>
        <div class="people blue">
          <h2>O'Bee One</h2>
          <div class="flying-bee"></div>
          <p class="advise">"bzzzzzz"</p>
        </div>
        <div class="people blue">
          <h2>Cloudy</h2>
          <div class="cloud"></div>
          <p class="advise">"i have some gifts for you darling"</p>
        </div>
        <div class="people darkred">
          <h2>Bob-ombs</h2>
          <div class="walking-bomb"></div>
          <p class="advise">Slow but extremly powerfull</p>
        </div>
        <div class="people darkred">
          <h2 class="long">para Bob-ombs</h2>
          <div class="falling-bomb"></div>
          <p class="advise">DANGEROUS</p>
        </div>
        <div class="people darkred">
          <h2>walking koopa</h2>
          <div class="walking-koopa"></div>
          <p class="advise">
            "I will grow... <br />
            be ready"
          </p>
        </div>
        <div class="people darkred">
          <h2>flying koopa</h2>
          <div class="flying-koopa"></div>
          <p class="advise">smarter than you think</p>
        </div>
      </div>
      <p class='select'></p>
      <div id="container3">
        <div id="easy" class="level people green">
          <h1>Chill</h1>
        </div>
        <div id="normal" class="level people blue">
          <h1>Normal</h1>
        </div>
        <div id="hard" class="level people darkred">
          <h1>Turbo</h1>
        </div>
      </div>
    </section>
    <div id="musicbox" class="musicplay"></div>
    <!-- <div id="tube" class=""></div> -->
  </body>
</html>
