<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="../css/score.css" />
    <script src="alert/dist/sweetalert-dev.js"></script>
    <link rel="stylesheet" href="alert/dist/sweetalert.css">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script type="module" src="../js/home.js"></script>
    <title>Score</title>
  </head>
  <body>
    <div id="score-all" class="flex center column ">
      <div id="score-titre" class="center flex"></div>
      <div class="center flex">
        <section id="worst-ennemi">
          <h2>Worst Ennemi</h2>
          <h3></h3>
          <div></div>
          <hr>
          <p>"I have your head !"</p>
        </section>
        <section id="score-right">
          <div><span id="coin">Coins :</span><span id="coins">103</span></div>
          <div><span>BPM bonus :</span><span id="bpm"></span></div>
          <!-- <div><span>Time :</span><span>60sec</span></div> -->
          <hr />
          <div id="total"><span>Total</span><br><span id="total-score"></span><br><span>points</span></div>
        </section>
    <div id="score-all" class="flex center column "></div>
      </div>
    </div>
  </body>
</html>
