<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="module" src="../js/home.js"></script>
    <link rel="stylesheet" href="../css/explain.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Select mode</title>
  </head>
  <body>
    <section id="all">
      <div id="title2">Yo !</div>
      <div id="container2" class="grid ">
        <div class="people green">
          <h2>1</h2>
          <img src="" alt="" />
          <p class="advise"></p>
          <p class="power"></p>
          <p class="speed"></p>
        </div>
        <div class="people green">
          <h2>2</h2>
          <img src="" alt="" />
          <p class="advise"></p>
          <p class="power"></p>
          <p class="speed"></p>
        </div>
        <div class="people green">
          <h2>3</h2>
          <img src="" alt="" />
          <p class="advise"></p>
          <p class="power"></p>
          <p class="speed"></p>
        </div>
        <div class="people darkred">
          <h2>4</h2>
          <img src="" alt="" />
          <p class="advise"></p>
          <p class="power"></p>
          <p class="speed"></p>
        </div>
        <div class="people darkred">
          <h2>5</h2>
          <img src="" alt="" />
          <p class="advise"></p>
          <p class="power"></p>
          <p class="speed"></p>
        </div>
        <div class="people darkred">
          <h2>6</h2>
          <img src="" alt="" />
          <p class="advise"></p>
          <p class="power"></p>
          <p class="speed"></p>
        </div>
        <div class="people blue">
          <h2>7</h2>
          <img src="" alt="" />
          <p class="advise"></p>
          <p class="power"></p>
          <p class="speed"></p>
        </div>
      </div>
      <div id="container3">
        <div id="easy" class="level people green">
          <h1>Easy</h1>
        </div>
        <div id="normal" class="level people blue">
          <h1>Normal</h1>
        </div>
        <div id="hard" class="level people darkred">
          <h1>Hard</h1>
        </div>
      </div>
    </section>
    <div id="musicbox" class="musicplay"></div>
  </body>
</html>
